html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: rgb(107, 107, 107);
    overflow-x: hidden;
}

@media screen and (min-width: 912px) {
    .button-max-width-911 {
        display: none;
    }
}

.button-max-width-911 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: rgb(242, 242, 242);
    color: rgb(107, 107, 107);
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 1;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.button-max-width-911 button {
    display: flex;
    position: absolute;
    padding: 0;
    left: 10px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.button-max-width-911 button .hamburger-icon {
    display: block;
    stroke-width: 1;
}

.button-max-width-911 button .X-icon {
    display: none;
    stroke-width: 1;
}

/* Optional: Add hover effect */
.button-max-width-911 button:hover .hamburger-icon line {
    stroke: rgba(107, 107, 107, 0.7);
}

.button-max-width-911 .menu-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 13px;
    left: 35px;
    bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(107, 107, 107);

}

.button-max-width-911 h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.4em;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.icon-search {
    position: absolute;
    display: flex;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
.search-bar {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 15px;
    left:0;
    right:0;
    margin: 0 auto;
    background: rgb(242, 242, 242);
    z-index: 1000;
    border-bottom: 1px solid rgba(107, 107, 107, 0.2);
}

.search-bar input {
    width: calc(100% - 40px);
    padding: 10px 20px 5px 10px;
    margin: 0 20px 20px 20px;
    border: none;
    border-bottom: 1px solid rgb(107, 107, 107);
    background: transparent;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(107, 107, 107);
    outline: none;
}

.search-input::placeholder {
    color: rgb(107, 107, 107);
    letter-spacing: 0.05em;
}

.search-bar .icon-search-confirm {
    position: absolute;
    right: 30px;
    bottom: 10px;
    top: 55%;
    transform: translateY(-80%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.carousel {
    width: 100%;
}

.carousel-cell {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-cell img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-container figure {
    margin: 0;
    padding: 0;
}

.flickity-page-dots {
    display: none;
}

section.hero {
    display: inline;
}
/* Move media query to the end */
@media screen and (min-width: 912px) {
    .button-max-width-911,
    .button-max-width-911 button,
    .button-max-width-911 button span,
    .button-max-width-911 .menu-title {
        display: none !important; /* Added !important to ensure it overrides other display rules */
    }
}

.dropdown-menu {
    display: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-size: 12px;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(107, 107, 107);
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px solid rgba(107, 107, 107, 0.1); 
}

.dropdown-menu-ul li {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgb(83, 83, 83);
    letter-spacing: 0.07em;
    font-weight: 550;
}

.dropdown-menu-ul li:nth-last-child(1) {
    padding-bottom: 25px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot');
    src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.svg#Helvetica Neue LT Std 25 Ultra Light') format('svg');
}

.icon-cart {
    position: absolute;
    display: flex;
    right: 18px;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.cart-items {
    position: absolute;
    right: 10px;
    top: 58%;
    transform: translateY(-50%);
    font-size: 12px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(242, 242, 242);
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    gap: 10px;
}

.dropdown-menu ul li {
    margin-right: 15px;
}

.dropdown-menu ul li a {
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

/* More specific than just .flickity-button */
.carousel .flickity-button {
    background: transparent;  /* This should now override the default */
    border: none;
}

/* More specific than just .flickity-prev-next-button */
.carousel .flickity-prev-next-button {
    width: 30px;  /* This should now override the default 44px */
    height: 30px;
    color: rgb(107, 107, 107);
}

/* Position the previous button further left */
.flickity-prev-next-button.previous {
    left: -5px;  /* Increase this value to move it more left */
}

/* Position the next button further right */
.flickity-prev-next-button.next {
    right: -5px;  /* Increase this value to move it more right */
}

/* Make the arrow icons thinner */
.carousel .flickity-button-icon {
    stroke-width: 1;  /* Decrease this value to make arrows thinner */
    fill: rgb(107, 107, 107);
}