body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: rgb(107, 107, 107);
}

@media screen and (min-width: 912px) {
    .button-max-width-911,
    .button-max-width-911 button,
    .button-max-width-911 button span,
    .button-max-width-911 .menu-title {
        display: none;
    }
}

.button-max-width-911 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: #f2f2f2;
}

.button-max-width-911 button {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 4px;
    padding:0;
    left: 10px;
    /* margin-left: 5px; */
}

.button-max-width-911 button span {
    display: block;
    width: 25px;
    height: 1px;
    background-color: #333;
    color: #6b6b6b;
}


.button-max-width-911 .menu-title {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 25px;
    height: 2px;
    left: 40px;
    top: 16px;
}

.button-max-width-911 h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

/* Move media query to the end */
@media screen and (min-width: 912px) {
    .button-max-width-911,
    .button-max-width-911 button,
    .button-max-width-911 button span,
    .button-max-width-911 .menu-title {
        display: none !important; /* Added !important to ensure it overrides other display rules */
    }
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    position: relative;
    background: #f4f4f4;
    padding: 0px;
    text-align: center;
}

/* .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
} */

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* .button-max-width-911 button {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    padding: 0;
} */



